*.tar.gz
*.out
timeseries.*.csv
projects/tcforecast/CAM_GFS_CFSR_skill/out-stats/*
stats*txt
*.Log
*.pdf
*.jpg
*.gif
*.eps
*.ps
*.png
nohu*
simple.nc
PET*
out.*
slice-*nc
timesArray_*
projects/ke/*.nc
